.grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px;
}

.grid .main {
    grid-column: 2;
    order: 2;
}

.grid .aside {
    grid-column: 1;
    order: 1;
    color: rgba(165, 171, 182, 0.5);
}
.grid .aside * {
    color: rgba(165, 171, 182, 0.5);
}
