/*style.css*/
:root {
    --color1: rgba(165, 171, 182, 1);
    --color2: rgba(90, 104, 130, 1);
    --color3: rgba(39, 53, 79, 1);
    --color4: rgba(15, 27, 51, 1);
    --color5: rgba(40, 44, 51, 1);
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--color1);
    overflow-wrap: anywhere;
}
html {
    background-color: var(--color5);
    width: 100%;
    overflow-x: clip;
}
body {
    padding: 20px;
}
hr {
    border: solid 1px var(--color2);
}
@media (1024px <= width) {
    .g {
        display: grid;
        grid-template-columns: 350px 1fr;
        gap: 10px;
    }

    .gm {
        grid-column: 2;
        order: 2;
    }

    .gs {
        grid-column: 1;
        order: 1;
        color: var(--color2);
    }
    .gs * {
        color: var(--color2);
    }
}

@media (width < 1024px) {
    .gs {
        padding-left: 30px;
        color: var(--color2);
    }
    .gs * {
        color: var(--color2);
    }
}
